# Systemd unit file for default demo-hr-client
# To create clones of this service:
# DO NOTHING, use demo-hr-client service instead.

# /usr/lib/systemd/system/demo-hr-client.service

[Unit]
Description=service hive demo-hr-client
After=syslog.target

[Service]
Type=simple
PIDFile=/var/service-hive/demo-hr-client.pid
ExecStart=/usr/bin/java -Xms128m -Xmx512m -jar /var/service-hive/demo-hr-client.jar
ExecStop=/usr/bin/sh pidof demo-hr-client.service | xargs kill -s 9

[Install]
WantedBy=multi-user.target