# Systemd unit file for default demo-hr-service
# To create clones of this service:
# DO NOTHING, use demo-hr-service service instead.

# /usr/lib/systemd/system/demo-hr-service.service

[Unit]
Description=service hive demo-hr-service
After=syslog.target

[Service]
Type=simple
PIDFile=/var/service-hive/demo-hr-service.pid
ExecStart=/usr/bin/java -Xms128m -Xmx512m -jar /var/service-hive/demo-hr-service.jar
ExecStop=/usr/bin/sh pidof demo-hr-service.service | xargs kill -s 9

[Install]
WantedBy=multi-user.target