# Systemd unit file for default eureka
# To create clones of this service:
# DO NOTHING, use eureka service instead.

# /usr/lib/systemd/system/eureka.service

[Unit]
Description=service-hive eureka
After=syslog.target

[Service]
Type=simple
PIDFile=/var/service-hive/run/eureka.pid
ExecStart=/usr/bin/java -Xms128m -Xmx4096m -jar /var/service-hive/eureka.jar
ExecStop=/usr/bin/sh pidof eureka.service | xargs kill -s 9

[Install]
WantedBy=multi-user.target