server:
  port: 8080
  ssl.enabled: true
  ssl.key-store: /servicehive.jks
  ssl.key-store-password: 123456
  ssl.key-store-type: PKCS12
  ssl.keyAlias: eureka-client

management:
  security.enabled: false

spring:
  application.name: demo-hr-service
  profiles.active: prod
  sleuth:
    sampler.percentage: 0.5
  zipkin:
    baseUrl: http://zipkin-server:8774
  ã€€enabled: true
  jpa:
    generate-ddl: false
    show-sql: true
    hibernate:
      ddl-auto: none
  datasource:
    platform: h2
    schema: classpath:schema.sql
    data: classpath:data.sql

logging:
  level:
    root: INFO
    org.hibernate: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.type.descriptor.sql.BasicExtractor: TRACE
    com.itmuch.youran.persistence: ERROR

eureka:
  client:
    serviceUrl.defaultZone: https://eureka-server1:8761/eureka/,https://eureka-server2:8761/eureka/
  instance:
    prefer-ip-address: true
    non-secure-port-enabled: false
    secure-port-enabled: true
    secure-port: ${server.port}

---
spring:
  profiles: prod
eureka:
  instance:
    metadata-map:
      env: prod
---
spring:
  profiles: canary
eureka:
  instance:
    metadata-map:
      env: canary