# Systemd unit file for default demo-hr-client-with-hystrix
# To create clones of this service:
# DO NOTHING, use demo-hr-client-with-hystrix service instead.

# /usr/lib/systemd/system/demo-hr-client-with-hystrix.service

[Unit]
Description=service hive demo-hr-client-with-hystrix
After=syslog.target

[Service]
Type=simple
PIDFile=/var/service-hive/demo-hr-client-with-hystrix.pid
ExecStart=/usr/bin/java -Xms128m -Xmx512m -jar /var/service-hive/demo-hr-client-with-hystrix.jar
ExecStop=/usr/bin/sh pidof demo-hr-client-with-hystrix.service | xargs kill -s 9

[Install]
WantedBy=multi-user.target